---
layout: page
title: 首页
---

<br/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">  

    {% if paginator.previous_page %}
      <div class="previous col-md-4 center">
        {% if paginator.previous_page == 1 %}
          <a href="/">前一页</a>
        {% else %}
          <a href="{{ paginator.previous_page_path }}">前一页</a>
        {% endif %}
      </div>
    {% else %}
      <div class="previous disabled col-md-4 center">
        <span>前一页</span>
      </div>
    {% endif %}
  
  <div class="current col-md-4 center">
    <span> {{ paginator.page }} / {{ paginator.total_pages}} </span>
  </div>
  
  {% if paginator.next_page %}
    <div class="next col-md-4 center">
      <a href="{{ paginator.next_page_path }}">下一页</a>
    </div>
  {% else %}
    <div class="next disabled col-md-4 center">
      <span>下一页</span>
    </div>
  {% endif %}

</div>